*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white
}

body, html{
    height: 100vh;
}

.container{
    display: flex;
}

.container .health{
    height: 100vh;
    flex: 1;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('./weathbg.jpg');
    background-position: center;
    background-size: cover;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: right;
}

.container .wealth{
    height: 100vh;
    flex: 1;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('./healthbg.jpg');
    background-position: center;
    background-size: cover;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.container .health .health-cont, .container .wealth .wealth-cont{
    max-width: 420px;
}

/* .container .health .health-cont p, .container .wealth .wealth-cont p{
    margin-bottom: 18px;
} */

.container .health .health-cont a, .container .wealth .wealth-cont a{
    width: 18px;
    text-decoration: none;
    padding: 6px 18px;
    border: 2px solid white;
}

@media only screen and (max-width: 570px) {
    /* For tablets: */
    .container{
        display: block;
    }

    .container .health{
        height: 50vh;
    }

    .container .wealth{
        height: 50vh;
    }
}